/* minimalism.css
   Oliver Pope
   ---------------------------------------------------------------------------*/
/* 01. Typography
   ---------------------------------------------------------------------------*/
html {
  color: #4A4A4A;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: 200; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 200; }

h1 {
  margin: 0.5em 0;
  font-size: 36px; }

h2 {
  font-size: 24px; }

h3, h4, h5, h6 {
  font-size: 20px; }

p {
  font-size: 14px; }

.title {
  color: #000000;
  font-size: 48px; }

.subtitle {
  color: #000000;
  font-size: 24px; }

/* 02. Color
   ---------------------------------------------------------------------------*/
.text-blue {
  color: #7EB8D9; }

.text-green {
  color: #98D272; }

.text-yellow {
  color: #F5DE6C; }

.text-orange {
  color: #FFC273; }

.text-red {
  color: #FF6A61; }

.text-purple {
  color: #9761A8; }

.bg-blue {
  background: #7EB8D9; }

.bg-green {
  background: #98D272; }

.bg-yellow {
  background: #F5DE6C; }

.bg-orange {
  background: #FFC273; }

.bg-red {
  background: #FF6A61; }

.bg-purple {
  background: #9761A8; }

/* 03. Text Classes
   ---------------------------------------------------------------------------*/
.bold, b, strong {
  font-weight: 400; }

.italic, i, em {
  font-style: italic; }

.uppercase {
  text-transform: uppercase; }

.lowercase {
  text-transform: lowercase; }

.pull-left {
  text-align: left !important; }

.pull-right {
  text-align: right !important; }

.centered {
  text-align: center !important; }

.lead {
  margin: 0.2em 0;
  color: #7F7F7F;
  font-size: 24px; }

.code, code {
  font-family: Monaco, Menlo, Consolas, "Lucida Console", monospace;
  font-weight: 400; }

.caption {
  margin: 0.1em 0;
  font-style: italic;
  font-size: 14px; }

/* 04. Buttons
   ---------------------------------------------------------------------------*/
.btn {
  color: #000000;
  padding: 1em;
  margin: 0.2em;
  border-radius: 2px;
  max-width: 100%;
  display: inline-block;
  text-decoration: none;
  text-align: center; }

.btn-blue {
  background: #7EB8D9; }
  .btn-blue:hover {
    background: #a5cee5; }

.btn-green {
  background: #98D272; }
  .btn-green:hover {
    background: #b5de99; }

.btn-yellow {
  background: #F5DE6C; }
  .btn-yellow:hover {
    background: #f8e79c; }

.btn-orange {
  background: #FFC273; }
  .btn-orange:hover {
    background: #ffd7a6; }

.btn-red {
  background: #FF6A61; }
  .btn-red:hover {
    background: #ff9994; }

.btn-purple {
  background: #9761A8; }
  .btn-purple:hover {
    background: #ac82ba; }

/* 05. Images
   ---------------------------------------------------------------------------*/
.responsive {
  width: 100%;
  height: auto; }

.border {
  border: 5px solid #4A4A4A; }

.circle {
  border-radius: 100%; }

/* 06. Blockquotes
   ---------------------------------------------------------------------------*/
blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  border-left: 2px solid; }
  blockquote q {
    font-size: 20px; }

blockquote.pull-right {
  padding-right: 15px;
  padding-left: 0;
  border-right: 2px solid;
  border-left: 0;
  text-align: right; }

/* 06. Grid
	 ---------------------------------------------------------------------------*/
html, body {
  margin: 2em 2%; }

.grid {
  margin: 0 0 20px 0;
  width: 100%; }
  .grid:after {
    content: "";
    display: table;
    clear: both; }

[class*='col-'] {
  float: left;
  padding-right: 20px; }
  .grid [class*='col-']:last-of-type {
    padding-right: 0; }

.col-2-3 {
  width: 66.66%; }
  @media (max-width: 650px) {
    .col-2-3 {
      width: 100%; } }

.col-1-3 {
  width: 33.33%; }
  @media (max-width: 650px) {
    .col-1-3 {
      width: 100%; } }

.col-1-2 {
  width: 50%; }
  @media (max-width: 650px) {
    .col-1-2 {
      width: 100%; } }

.col-1-4 {
  width: 25%; }
  @media (max-width: 650px) {
    .col-1-4 {
      width: 100%; } }

.col-1-6 {
  width: 16.66%; }
  @media (max-width: 650px) {
    .col-1-6 {
      width: 100%; } }

.col-1-8 {
  width: 12.5%; }
  @media (max-width: 650px) {
    .col-1-8 {
      width: 100%; } }

.module {
  padding: 20px;
  background: #eee; }

/* Opt-in outside padding */
.grid-pad {
  padding: 20px 0 20px 20px; }
  .grid-pad [class*='col-']:last-of-type {
    padding-right: 20px; }

/* Reset
   ---------------------------------------------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
	 v2.0 | 20110126
	 License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  vertical-align: baseline;
  -moz-box-sizing: border-box;
       box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.ex-pad {
  padding: 4em 0; }

.ex-type {
  margin-bottom: 0; }

.ex-pad-bottom {
  padding-bottom: 2px; }

.ex-pad-top {
  padding-top: 22px; }

.ex-bigger {
  font-size: 1.4em;
  margin-bottom: 0; }
