/* 02. Color
   ---------------------------------------------------------------------------*/

  // Text Color
  .text-blue {
    color: $blue;
  }

  .text-green {
    color: $green;
  }

  .text-yellow {
    color: $yellow;
  }

  .text-orange {
    color: $orange;
  }

  .text-red {
    color: $red;
  }

  .text-purple {
    color: $purple;
  }

  .text-dark {
    color: $dark;
  }

  .text-gray {
    color: $gray;
  }

  .text-black {
    color: $black;
  }

  .text-white {
    color: $white;
  }

  // Background Colors
  .bg-blue {
    background: $blue;
  }

  .bg-green {
    background: $green;
  }

  .bg-yellow {
    background: $yellow;
  }

  .bg-orange {
    background: $orange;
  }

  .bg-red {
    background: $red;
  }

  .bg-purple {
    background: $purple;
  }

  .bg-dark {
    color: $dark;
  }

  .bg-gray {
    color: $gray;
  }

  .bg-black {
    color: $black;
  }

  .bg-white {
    color: $white;
  }
