/* 00. Demo
   ---------------------------------------------------------------------------*/

// Example Styles
.ex-no-pad {
  padding: 0;
}

.ex-mar {
  margin-right: 1em;
}

.ex-pad {
  padding: 4em 1em;
}

.ex-type {
  margin-bottom: 0;
}

.ex-pad-bottom {
  padding-bottom: 2px;
}

.ex-pad-top {
  padding-top: 22px;
}

.ex-bigger {
  font-size: 1.4em;
  margin-bottom: 0;
}
