/* 05. Images
   ---------------------------------------------------------------------------*/

   .responsive {
     width: 100%;
     height: auto;
   }

   .border {
     border: 5px solid $dark;
   }

   .circle {
     border-radius: 100%;
   }
