.wrapper {
  width: 100%;
  margin: 0 auto;
}

.wrapper, .row {
  @extend %clearfix;
}

[class*='col-'] {
  float: left;
  width: 100%;
  min-height: 1px;
}

@media #{$breakpoint-medium} {
  .wrapper {
    width: 95%;
    max-width: $grid-max-width;
  }
  @for $i from 1 through $grid-columns {
    .col-#{$i} {
      width: 100% / $grid-columns * $i;
    }
  }
}
