/* 09. Layout
   ---------------------------------------------------------------------------*/

// full-page-screen
.full {
  width: 100%;
  height: 100vh;
  margin: 0;
}

// grid (http://webdesign.tutsplus.com/tutorials/a-simple-responsive-grid-made-even-better-with-sass--cms-21540)
.wrapper {
  width: 100%;
  margin: 0 auto;
}

.wrapper, .row {
  @extend %clearfix;
}

[class*='col-'] {
  float: left;
  width: 100%;
  min-height: 1px;
}

@media #{$breakpoint-medium} {
  .wrapper {
    width: 95%;
    max-width: $grid-max-width;
  }
  @for $i from 1 through $grid-columns {
    .col-#{$i} {
      width: 100% / $grid-columns * $i;
    }
  }
}
