/* 01. Typography
   ---------------------------------------------------------------------------*/

// Headings
html {
  color: $dark;
  font: {
    family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    weight: 200;
  };
}

h1, h2, h3, h4, h5, h6 {
  font: {
    weight: 200;
  };
}

h1 {
  margin: .5em 0;
  font: {
    size: $heading-1;
  };
}

h2 {
  font: {
    size: $heading-2;
  };
}

h3, h4, h5, h6 {
  font: {
    size: $heading-3;
  };
}

// Paragraph
p {
  font: {
    size: $paragraph;
  };
}

// Titles
.title {
  color: $black;
  font: {
    size: $title;
  };
}

.subtitle {
  color: $black;
  font: {
    size: $subtitle;
  };
}

// links
a {
  color: $blue;
  transition: .3s all;
  text-decoration: none;
  &:hover {
    color: $green;
  }
}
