/* minimalism.css
   Oliver Pope
   ---------------------------------------------------------------------------*/

   // Imports
   @import 'variables';
   @import 'mixins';
   @import 'typography';
   @import 'color';
   @import 'textclasses';
   @import 'buttons';
   @import 'images';
   @import 'blockquotes';
   @import 'grid';
   @import 'reset';

   // Example Styles
   .ex-pad { padding: 4em 0; }

   .ex-type { margin-bottom: 0; }

   .ex-pad-bottom { padding-bottom: 2px; }

   .ex-pad-top { padding-top: 22px; }

   .ex-bigger {
     font-size: 1.4em;
     margin-bottom: 0;
   }
